.genericButton_secondary,
.genericButton_primary  {
  box-sizing: border-box;
  border-radius: 50px;
  height: 60px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.genericButton_primary {
  margin-top: 32px;
  border: 2px solid #3671FE;;
  background-color: #3671FE;;
  color: #FFFFFF;
}

.genericButton_secondary {
  border: 2px solid #EFEFEF;
  background-color: #FFFFFF;
  color: #131330;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.genericButton_icon {
  margin-right: 12px;
}