.genericInput {
  border: 2px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 16px;
  height: 60px;
  width: 100%;
  margin-bottom: 16px;
  padding: 21px 58px 21px 32px;
  color: #C1C1C1;
  font-size: 18px;
  outline: none;
}

/* .genericInput:hover,
.genericInput:active {
  border: 2px solid #3671FE;
} */

.genericInput_icon {
  position: absolute;
  margin-left: -49px;
  padding-top: 21px;
}
