.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 24px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #EFEFEF;
}

.divider:not(:empty)::before {
  margin-right: .25em;
}

.divider:not(:empty)::after {
  margin-left: .25em;
}

.divider_text {
  color: #C1C1C1;
  padding-left: 26px;
  padding-right: 26px;
}
