
.wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register_content {
  min-width: 51%;
}

p {
  font-size: 18px;
  line-height: 18px;
  color: #C1C1C1;
}

p.upperText {
  margin-top: 16px;
  margin-bottom: 56px;
}

p.bottomText {
  margin-top: 56px;
  text-align: center;
}

a {
  font-weight: 600;
  color: #3671FE;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 16px;
  font-size: 40px;
}

@media (max-width: 900px) {
  .register_content {
    max-width: 90%;
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
    height: 100vh;
  }
}

