@font-face {
  font-family: 'metropolis';
  src: url('./common/fonts/Metropolis-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  background-color: #FFFFFF;
  font-family: 'metropolis';
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@media(max-width: 800px) {
  .App {
    flex-direction: column;
  }
}